
.head{
    text-align: center;
}
.head p{
     font-size: 20px;
}
form{
    background-color: #000033;
    color: #fff;
    font-size: 20px;
    padding: 40px;
    width: 600px;
    margin: auto;
}
label{
    margin-top: 20px;
}

